.container {
  background: url(/assets/img/background.png);
  height: 100vh;
}

.info {
  padding: 150px;
}

.info mat-icon {
  font-size: 100px;
  color: white;
  width: 100px;
  height: 100px;
}

.info h2 {
  font-size: 42px;
  color: whitesmoke;
  line-height: 46px;
}

.login {
  background-color: white;
}
