:host {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20000000;
  top: 0;
  left: 0;
}

div {
  width: 100vw;
  height: 100vh;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial;
}
