.container-modal {
  width: 600px;
}

.container-modal .mat-dialog-container {
  padding: 0;
}

.container-modal .mat-dialog-content {
  margin: 0;
  padding: 24px;
}

@media screen and (max-width: 500px) {
  .container-modal {
    width: 95%;
  }
}
